openai>=1.66.3,<2.0.0
llama-index>=0.10.32,<0.11.0
jinja2>=3.1.3
tqdm>=4.66.1
aiohttp>=3.8.5
numpy>=1.24
typing-extensions>=4.5.0
tiktoken
unstructured[local-inference,pdf]
pandas
beautifulsoup4
lxml
faiss-cpu
tabulate
langchain
langchain-community
scikit-learn
streamlit
chromadb
langchain_openai
